main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi{
    /* height: 700px; */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#storys{
    width: 100%;
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar{
    width: 0;
}

.card-story{
    /* background-color: cornflowerblue; */
}

.card-story > button{
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story > button > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#campo-uploud{
    display: none;
}

#label-file{
    display: inline-block;
    width: 100%;
    /* height: 35px; */
    padding: 10px;
    background-color: var(--cor-cinza-escuro4);
    border-radius: 5px;
    text-align: center;
}

/* secao criar publi */

.formulario-botao-azul{
    width: 135px;
}

#criar-publi{
    padding: 10px;
}

#criar-publi > h2{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 10px;
}

#criar-publi > form > footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 20px;
}

#criar-publi > form > textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none; /* nao permite o usuario redimensionar o texto*/
    border: var(--borda);

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#criar-publi > form > textarea::placeholder{
    color: var(--cor-cinza-medio);
}

/* secao publicacoes */

#publicacoes{
    width: 100%;
}

.card-publi{
    background-color: var(--cor-branco);
    width: 100%;
}

.card-publi > header{
    padding: 15px;
}

.card-publi > header > a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    text-transform: lowercase;
}

.card-publi > figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-publicacao{
    object-fit: cover; /* redimensiona a imagem*/
    object-position: center;
    width: 100%;
    height: 350px;
}

.card-publi > figure > figcaption{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex; /* por padrao o flexbox deixa ps elementos alinhados*/
    align-items: center;
    column-gap: 5px;
    margin: 15px;
    order: 2;
}

.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacao{
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
}

.interacoes-publicacao > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-publi > figure > button{
    background-color: transparent;
    border: none;
    
    color: var(--cor-cinza-medio);
    font-size: var(--tamanho-fonte-sm);

    order: 3;

    margin-left: 15px;
}