/* primeira forma de utilizar uma fonte */
/* @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap'); */

/* segunda forma de utilizar uma fonte */
@font-face {
    font-family: Billabong;
    src: url(../assets/fonts/billabong.ttf);
    src: url(../assets/fonts/billabong_regular.otf);
} 

/* variaveis */
:root{
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branco: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4d4d4d;
    --cor-cinza-escuro3: #7d7d7d;
    --cor-cinza-escuro4: #d1d1d1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* Seletor global */
*{
    padding: 0px; /* espaco interno */
    margin: 0px; /* espaco externo */
    box-sizing: border-box; /* Atribui espacos internos/externos e bordas no tamanho final do box */
    font-family: "Segoe UI", sans-serif;
    outline-color: var(--cor-azul);
}

h1{
    position: absolute; /*Torna ele absoluto em toda a tela*/
    z-index: -1; /* altera a camada do elemento */
    opacity: 0; /* torna o elemento invsivel mexendo em sua opacidade */
}

body{
    background-color: var(--cor-cinza-claro);
}
/* FORMULARIO */

.formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: none; /* tira a borda */
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos > input{
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-claro);

    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formulario-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro2);
    font-weight: 600; /*   */
}

.estilo-formulario{
    width: 100%;
    background-color: var(--cor-branco);
    border: var(--borda);
}

#campo-uploud{
    display: none;
}

#label-file{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    background-color: var(--cor-cinza-escuro4);
    color: var(--cor-cinza-escuro3);
    text-align: center;
    border-radius: var(--borda-arredondada);
    font-weight: 35px;
}

/* cabecalho */

#cabecalho{
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: var(--borda);
}

#cabecalho > nav{
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center; /* alinha no sentido contrario do flex */
    justify-content: space-between;
}

#logo-mobile{
    display: none;
}

#logo-desktop{
    display: none;
}

.cabecalho-acoes{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes > a{
    display: flex;
}

.foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover; /* o cover mantem a proporcao com um zoom para se adaptar ao elemento*/
    object-position: center;
    border-radius: 50%;
}

/* RESPONSIVO */
@media only screen and (max-width: 500px){
    #logo-mobile{
        display: initial;
    }
}

@media only screen and (min-width: 500px){
    #logo-desktop{
        display: initial;
    }
}